##### pour le projet SQL :
Requêtez_une_base_de_données_avec_SQL/__pycache__

##### pour le projet noSQL :
Maitrisez_les_bases_de_donnees_NoSQL/MongoDB/restaurants.json_.zip

##### pour le projet OpenCV :
Classez_et_segmentez_des_données_visuelles/*

# sauf :
!Classez_et_segmentez_des_données_visuelles/cat.png
!Classez_et_segmentez_des_données_visuelles/main.cpp